<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CRASH_REPORT_ENABLED</key>
	<true/>
	<key>CAPTURE_COORDINATES</key>
	<false/>
	<key>CAPTURE_TAPPED_ELEMENTS</key>
	<false/>
</dict>
</plist>
