<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>$(API_URL)</string>
	<key>BUY_WEBVIEW_URL</key>
	<string>$(BUY_WEBVIEW_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>EVERYPAY_API_URL</key>
	<string>$(EVERYPAY_API_URL)</string>
	<key>EXCHANGE_URL</key>
	<string>$(EXCHANGE_URL)</string>
	<key>EXPLORER_SERVER</key>
	<string>$(EXPLORER_SERVER)</string>
	<key>PIN_CERTIFICATE</key>
	<string>$(PIN_CERTIFICATE)</string>
	<key>RETAIL_CORE_SOCKET_URL</key>
	<string>$(RETAIL_CORE_SOCKET_URL)</string>
	<key>RETAIL_CORE_URL</key>
	<string>$(RETAIL_CORE_URL)</string>
	<key>SWIFTY_BEAVER_APP_ID</key>
	<string>$(SWIFTY_BEAVER_APP_ID)</string>
	<key>SWIFTY_BEAVER_APP_KEY</key>
	<string>$(SWIFTY_BEAVER_APP_KEY)</string>
	<key>SWIFTY_BEAVER_APP_SECRET</key>
	<string>$(SWIFTY_BEAVER_APP_SECRET)</string>
	<key>WALLET_SERVER</key>
	<string>$(WALLET_SERVER)</string>
	<key>WEBSOCKET_SERVER</key>
	<string>$(WEBSOCKET_SERVER)</string>
	<key>WEBSOCKET_SERVER_BCH</key>
	<string>$(WEBSOCKET_SERVER_BCH)</string>
	<key>WEBSOCKET_SERVER_ETH</key>
	<string>$(WEBSOCKET_SERVER_ETH)</string>
</dict>
</plist>
