# Created by https://www.gitignore.io/api/node,xcode,macos,swift,jetbrains,objective-c

*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
**/xcshareddata/WorkspaceSettings.xcsettings
*.der
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.iws
*.lcov
*.log
*.mode1v3
*.mode2v3
*.moved-aside
*.orig
*.pbxuser
*.perspectivev3
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
*.xccheckout
**/*.xcodeproj/*
*.xcscmblueprint
._*
.accio/
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.build/
.cache
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.dynamodb/
.env
.env.test
.eslintcache
.fseventsd
.fusebox/
.grunt
.idea/
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sonarIssues.xml
.idea/**/sonarlint/
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea_modules/
.lock-wscript
.LSOverride
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.out
.serverless/
.Spotlight-V100
.storybook-out
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vuepress/dist
.yarn-integrity
/*.gcno
/Config
atlassian-ide-plugin.xml
bower_components
build/
build/Release
Carthage/
Carthage/Build
Cert
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
DerivedData/
dist/
fabric.properties
fastlane/Preview.html
fastlane/README.md
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
GoogleService-Info.plist
Icon
iOSInjectionProject/
jspm_packages/
lerna-debug.log*
lib-cov
logs
Network Trash Folder
node_modules/
npm-debug.log*
out/
output/
pids
playground.xcworkspace
profile
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
temp/
Temporary Items
timeline.xctimeline
tmp/
typings/
xcuserdata/
yarn-debug.log*
yarn-error.log*
.swiftpm
SourcePackages/
PackageCache/

# Mockingbird
.mockingbird
*.generated.swift
MockingbirdMocks/
MockingbirdSupport/
MockingbirdProject.json
