binary "https://cdn.veriff.me/ios/carthage/VeriffSDK.json" == 3.4.0
binary "https://cdn.veriff.me/ios/carthage/VeriffWebRTC.json" == 1.0.1
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" == 6.30.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json" == 6.30.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDynamicLinksBinary.json" == 6.30.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json" == 6.30.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseProtobufBinary.json" == 6.30.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json" == 6.30.0
github "attaswift/BigInt" ~> 4.0
github "blockchain/libwally-swift" == 0.0.1
github "daltoniam/Starscream" ~> 3.1.1
github "danielgindi/Charts" ~> 3.5
github "dropbox/zxcvbn-ios" ~> 1.0
github "marmelroy/PhoneNumberKit" ~> 3.2
github "ReactiveX/RxSwift" ~> 5.1
github "uber/RIBs" ~> 0.9
github "RxSwiftCommunity/RxDataSources" ~> 4.0
github "thisisalexmcgregor/stellar-ios-mac-sdk" "blockchain"
github "thisisalexmcgregor/web3swift" "paulo/IOS-3758/xcode-12-support" 
github "jackpooleybc/swift-crypto" "jack/polyfill-carthage"
github "jackpooleybc/CryptoSwift" "jack/iso10126padding"
github "jackpooleybc/DIKit" "safe-property-wrappers"