binary "https://cdn.veriff.me/ios/carthage/VeriffSDK.json" == 4.3.1
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" == 7.4.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json" == 7.4.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDynamicLinksBinary.json" == 7.4.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json" == 7.4.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseProtobufBinary.json" == 7.4.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json" == 7.4.0
github "attaswift/BigInt" ~> 5.2
github "blockchain/libwally-swift" == 0.0.1
github "danielgindi/Charts" ~> 3.5
github "dropbox/zxcvbn-ios" ~> 1.0
github "marmelroy/PhoneNumberKit" ~> 3.2
github "ReactiveX/RxSwift" ~> 5.1
github "paulo-bc/RIBs" "0dc79b23a3e79b99bc3caee65ee3125485b96954"
github "RxSwiftCommunity/RxDataSources" ~> 4.0
github "thisisalexmcgregor/stellar-ios-mac-sdk" "blockchain"
github "jackpooleybc/CryptoSwift" "jack/iso10126padding"
github "jackpooleybc/DIKit" "safe-property-wrappers"
github "SiftScience/sift-ios" "v2.0.1"
github "paulo-bc/wallet-core-carthage" "29fcaf7547f80f3fbf0598445a9e3d3be9dd07d5"
github "jackpooleybc/RxCombine" "fix-carthage"