# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

Modules/TransactionFeature/ @paulo-bc @thisisalexmcgregor

Modules/Network/ @jackpooleybc

Modules/ComponentLibrary/ @mjarvis-bc

Modules/ComposableNavigation/ @oliveratkinson-bc
Modules/Session/ @oliveratkinson-bc
Modules/OpenBanking/ @oliveratkinson-bc
