<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:blockchainwallet.page.link</string>
		<string>applinks:blockchainwalletstaging.page.link</string>
		<string>applinks:blockchain.page.link</string>
		<string>applinks:$(LOGIN_UNIVERSAL_LINK)$(UNIVERSAL_LINK_MODE)</string>
	</array>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array/>
	<key>com.apple.developer.icloud-services</key>
	<array/>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.com.blockchain.prod.checkoutdotcom-lt1</string>
		<string>merchant.com.blockchain.prod.checkoutdotcom-uk1</string>
		<string>merchant.com.blockchain.prod.checkoutdotcom-us1</string>
		<string>merchant.com.blockchain.prod.stripe-lt1</string>
		<string>merchant.com.blockchain.prod.stripe-uk1</string>
		<string>merchant.com.blockchain.prod.stripe-us1</string>
		<string>merchant.com.blockchain.staging.checkoutdotcom</string>
		<string>merchant.com.blockchain.staging.stripe-lt1</string>
		<string>merchant.com.blockchain.staging.stripe-uk1</string>
		<string>merchant.com.blockchain.staging.stripe-us1</string>
	</array>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>$(TeamIdentifierPrefix)$(CFBundleIdentifier)</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.rainydayapps.blockchain</string>
	</array>
</dict>
</plist>
